@model SimpleLoginSystem.Models.UserModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your Credentials.", new { @class = "text-danger" })
    <div>
        <fieldset>

            <legend>Login Form</legend>
            <div> @Html.LabelFor(a => a.Email, new { @class = "control-label" }) </div>
            <div>
                @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @placeholder = "Email Address" })
                @Html.ValidationMessageFor(a=>a.Email)
            </div>

            <div> @Html.LabelFor(a => a.Password, new { @class = "control-label" }) </div>
            <div style="padding-bottom:10px">
                @Html.PasswordFor(a => a.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(a => a.Password)
            </div>
            
            <input type="submit" value="Login" class="btn btn-primary" />

    </fieldset>
  </div>
}
